{% extends 'main/base.html' %}
{% load static %}

{% block title %}Птицы | Мир природы{% endblock %}

{% block content %}
<h1 class="text-center text-info mb-4">
    <i class="bi bi-feather me-2"></i>Мир птиц
</h1>
<div class="card nature-card p-4">
    <h3>Симфония лесного хора</h3>
    <br>
    <h4>Птицы — великие путешественники и лесные певцы.</h4>
    <br>
    <p>Когда первые лучи солнца касаются вершин деревьев,
        в глубине леса начинается величественное представление.
        Это пробуждается птичий хор — древний, как сам лес, и прекрасный,
        как утренняя заря.
        <br>
        <br>
        Сначала солирует зарянка — её серебряные трели, словно капли росы,
        рассыпаются по тишине. Ей вторит зяблик, чья звонкая, задорная песня
        напоминает быстрый лесной ручей. А затем вступает малиновка, её мелодичные,
        чуть грустные переливы дарят ощущение умиротворения и вечности.
        <br>
        <br>
        Но истинный властелин лесной акустики — соловей. Его пение — не просто песня,
        а сложная поэма, сотканная из свистов, щелчков и переливов. Он поёт о любви,
        о территории, о жизни, скрытой в листве. Это многоголосая симфония,
        где каждая нота имеет значение, а паузы наполнены ожиданием чуда.
        <br>
        <br>
        Это пение — не просто звук. Это язык, понятный каждому живому существу в лесу.
        Предупреждение об опасности, призыв к собратьям, приветствие новому дню.
        Слушая его, понимаешь, что лес — не скопление деревьев, а единый, дышащий
        организм. И птицы — его голос, вечный, прекрасный и свободный, разносящийся
        под сводами ветвей и напоминающий о древней, нерушимой гармонии дикой природы.</p>
</div>

<div class="row">
    <!-- Карточка соловей-->
    <div class="col-md-4 mb-4">
        <div class="card nature-card h-100">
            <img src="{% static 'main/img/соловей.jpg' %}"
                 class="card-img-top"
                 alt="Соловей"
                 style="wight: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Соловей</h5>
                <p class="card-text">Соловей — непревзойдённый маэстро лесных сумерек,
                    чьи трели превращают тишину в сложную, переливчатую поэму. Его песня,
                    сотканная из свистов, щелчков и рулад, звучит как сама душа
                    пробуждающегося леса, повествуя о тайнах, скрытых в густой листве.</p>
            </div>
        </div>
    </div>

     <!-- Карточка зарянка -->
    <div class="col-md-4 mb-4">
        <div class="card nature-card h-100">
            <img src="{% static 'main/img/зарянка.jpg' %}"
                 class="card-img-top"
                 alt="Pfhzyrf"
                 style="wight: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Зарянка</h5>
                <p class="card-text">Зарянка, с её алым нагрудником, словно
                    живой уголёк в утренней росе, встречает рассвет серебристыми,
                    журчащими трелями. Её нежная, переливчатая песня, похожая на
                    звон хрустальных колокольчиков, первой разрывает ночную тишину,
                    словно пробуждая сам лес ото сна.</p>
            </div>
        </div>
    </div>

    <!-- певчий дрозд-->
    <div class="col-md-4 mb-4">
        <div class="card nature-card h-100">
            <img src="{% static 'main/img/певчий дрозд.jpg' %}"
                 class="card-img-top"
                 alt="Певчий дрозд"
                 style="wight: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Певчий дрозд</h5>
                <p class="card-text">Его чистые, флейтовые свисты, которые дрозд
                мастерски повторяет с небольшими вариациями, создают ощущение
                умиротворённой глубины леса.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}