{% extends 'main/base.html' %}
{% load static %}

{% block title %}Насекомые | Мир природы{% endblock %}

{% block content %}
<h1 class="text-center text-danger mb-4">
    <i class="bi bi-bug me-2"></i>Вселенная насекомых
</h1>
<div class="card nature-card p-4">
    <h3>Невидимые архитекторы леса</h3>
    <br>
    <p>Насекомые — архитекторы и воины природы.</p>
    <p>Насекомые — это фундаментальная основа лесной экосистемы,
        её неутомимые труженики и главные инженеры. Без этого микромира
        лес просто перестал бы существовать.
    <br>
    <br>
        Их роль начинается с самого базового уровня: ногохвостки, клещи и миллионы
        невидимых глазу существ перерабатывают опавшие листья и отмершую древесину,
        превращая мёртвую органику в плодородный гумус. Это гигантская «фабрика почвы»,
        без которой не росли бы деревья.
    <br>
    <br>
        Муравьи, как талантливые инженеры, строят подземные города, аэрируя почву
        и регулируя численность вредителей. Пчёлы, шмели и бабочки — главные опылители
        большинства лесных растений, от цветов до деревьев, обеспечивая их размножение.
    <br>
    <br>
        В то же время насекомые — основа пищевой пирамиды. Ими питаются птицы,
        земноводные, рептилии и мелкие млекопитающие. Исчезни насекомые — рухнет вся
        цепь лесной жизни. </p>
</div>

<div class="row">
    <!-- Карточка муравей-->
    <div class="col-md-4 mb-4">
        <div class="card nature-card h-100">
            <img src="{% static 'main/img/муравей.jpg' %}"
                 class="card-img-top"
                 alt="Муравей"
                 style="wight: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Муравей</h5>
                <p class="card-text">Муравьи — неутомимые инженеры лесной экосистемы,
                    чьи сложные подземные города с тоннелями естественным образом
                    аэрируют и удобряют почву. Работая как слаженная суперколония,
                    они являются важнейшими санитарами леса, регулируя численность
                    вредителей и эффективно перерабатывая органические останки.</p>
            </div>
        </div>
    </div>

     <!-- Карточка шмель -->
    <div class="col-md-4 mb-4">
        <div class="card nature-card h-100">
            <img src="{% static 'main/img/шмель1.jpg' %}"
                 class="card-img-top"
                 alt="Шмель"
                 style="wight: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Шмель</h5>
                <p class="card-text">Шмели — это мохнатые и неутомимые силачи среди опылителей,
                    способные работать в прохладную погоду, когда другие насекомые ещё спят.
                    Благодаря мощному жужжанию и длинному хоботку они проникают в самые
                    глубокие венчики цветов, обеспечивая опыление множества лесных и
                    луговых растений, недоступное для обычных пчёл.</p>
            </div>
        </div>
    </div>

    <!--
     бабочка-->
    <div class="col-md-4 mb-4">
        <div class="card nature-card h-100">
            <img src="{% static 'main/img/бабочка1.png' %}"
                 class="card-img-top"
                 alt="Бабочка"
                 style="wight: 200px; object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">Бабочка</h5>
                <p class="card-text">Бабочки, подобно живым лепесткам, парящим в воздухе,
                    являются не только украшением леса, но и важными опылителями цветущих
                    растений. Их жизненный цикл — от гусеницы, питающейся листвой, до крылатой
                    красавицы — служит звеном в пищевой цепи, связывая мир растений с миром
                    птиц и мелких млекопитающих.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}